<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>主页</title>
<link href="../../style/layout.css" type="text/css" rel="stylesheet" />
<link href="../../skin/default/skin.css" type="text/css" rel="stylesheet" />
<link href="../../style/share_list.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../../js/jquery-1.3.2.min.js"></script>
<script src="../../js/jquery.hotkeys-0.7.9.min.js"></script>

<script>
$(document).ready( function() {
	setTimeout(function(){
		$('#groupname').focus();
	},200);
})
</script>
</head>

<body>
<div class="share-upload">
	<div class="share-upload-content">
		<div class="share-upload-inputname">
		<strong><?php echo LANG_CONTACT_C0003;?>:</strong><input type="text" id="groupname" class="input01" style="width:280px;" value="<?php echo $name;?>" />
		</div>
		<div class="clear"></div>
	</div>
	<!--<div class="share-upload-bg share-upload-bottom"></div>-->
</div>
</body>
</html>
