<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<title>主页</title>
<link href="../../style/layout.css" type="text/css" rel="stylesheet" />
<link href="../../skin/default/skin.css" type="text/css" rel="stylesheet" />
<link href="../../style/share_list.css" type="text/css" rel="stylesheet" />
<link href="../../style/mail_list.css" type="text/css" rel="stylesheet" />

</head>

<body>
<div class="share-upload">

<div class="share-upload-content">
	
		<br class="clear" />
		
		<div class="exportWndPanel">
		    <div class="exportWndTablePanel">
		    <form action="doimport" name="form1" method="POST" enctype="multipart/form-data">
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="40%" height="34" align="right" class="lbl"><strong><?php echo LANG_CONTACT_C0027;?>：</strong></td>
                    <td width="60%" height="34" align="left"><input type="file" name="importfile"/></td>
                  </tr>
                  <tr>
                    <td width="40%" height="34" align="right" class="lbl"><strong><?php echo LANG_CONTACT_C0028;?>：</strong></td>
                    <td width="60%" height="34" align="left"><select name="type">
		                        <option value="1"><?php echo LANG_CONTACT_C0030;?>(*.csv)</option>
                    </select>&nbsp;<a href="../../contact_import.csv" target="_blank">导入文件格式</a></td>
                  </tr>
                </table>

	          </form>
		    </div>
		</div>
	</div>
</div>
</body>
</html>

