<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>搜索结果列表</title>
    <link href="../../style/mail_list.css" type="text/css"  rel="Stylesheet" />
    <link href="../../skin/default/mailList_skin.css"type="text/css"  rel="Stylesheet" />
    
    <link href="../../style/layout.css" type="text/css"  rel="Stylesheet" />
    <link href="../../skin/default/skin.css" type="text/css"  rel="Stylesheet" />
    <link href="../../style/share_list.css" type="text/css"  rel="Stylesheet" />
    
    
    <script src="../../js/jquery-1.3.2.min.js"></script>
    <script src="../index/lang"></script>
    <script src="../../js/dialog/zDrag.js"></script>
    <script src="../../js/dialog/zDialog.js"></script>
    <script src="../../js/jquery.hotkeys-0.7.9.min.js"></script>
    <script src="../../js/disk/base.js"></script>
    <script src="../../js/mail/mailbox.js"></script>
    <script>
	
	function myopenMail(mid,mode,id,curpage){
		var url = 'readmail?'+mid+"&f="+$('#folder').val()+"&id="+id+"&order="+$('#listsort').val()+"&sort="+$('#listorder').val()+"&curpage="+curpage+"&time="+new Date().getTime();
		$('#tr_'+id+' td').attr('class','td2');
		if($('#icon_'+id).attr('class')!='icoMailTime'&&$('#icon_'+id).attr('class')!='icoMailTimeLapse'&&$('#icon_'+id).attr('class')!='icoReplied'&&$('#icon_'+id).attr('class')!='icoRorwarded'){
			$('#icon_'+id).attr('class','icoRead');
		}
		if(mode=='iframe'){
			$('#isread_'+id).val(1);
			if($('#folder').val()=='draft'){
				url = url + "&edit=1";
			}else{
				url = url + "&type=1";
			}
			$('#readmail').attr('src',url);
		}else if(mode=='origin'){
			$('#isread_'+id).val(1);
			if($('#folder').val()=='draft'){
				url = 'write?'+mid+"&f="+$('#folder').val()+"&id="+id;
			}else{
				url = url + "&type=1";
			}
			url = "../archive/" + url + "&page=" + $('#curpage').val() +"&back=1";
			parent.$('#frame_content').attr('src',url);
		}else{
			$('#isread_'+id).val(1);
			if($('#folder').val()=='draft'){
				url = 'write?'+mid+"&f="+$('#folder').val()+"&id="+id;
			}
			list($('#curpage').val());
			window.open(url);
		}
	}

	openMail = myopenMail;
	
    document.oncontextmenu=new Function("event.returnValue=false;");
	document.onselectstart=new Function("event.returnValue=false;");
    $(document).ready( function() {
		$('#btn_col_1').unbind('click');
		$('#btn_col_2').unbind('click');
		$('#btn_col_3').unbind('click');
		$('#btn_col_4').unbind('click');
		$('#btn_col_5').unbind('click');
    	list(<?php echo $page;?>);
    });
    
    function setSelect(){}
    </script>
</head>
<body>
    <div id="divPanel">
  <!--邮件信息-->
  <div class="divMailInfoFrame">

  <div id="divMailInfo"><a href="####" id="pagemark"></a><span class="mailbox"><?php echo LANG_MAIL_M0159;?></span> <span class="mailbrief"> (
    <?php echo LANG_COMMON_COM013;?><span class="mailsCnt"></span><?php echo LANG_MAIL_M0011;?>)</div>
    <div class="mailList_toptit_r">
                    <ol>
                      <li><a href="####" onclick="closeList('_archive_');"><img src="../../skin/default/image/list_ico5.gif" width="19" height="19" border="0" title="<?php echo LANG_COMMON_COM002;?>"/></a></li>
                      <li><a href="####"><img src="../../skin/default/image/list_ico2.gif" width="19" height="19" border="0" title="<?php echo LANG_COMMON_COM001;?>"/></a></li>
                    </ol>
                  </div>
    </div>
  <div id="divHead">
            <div id="HeadUpper">
            <div class="headCenter"> <span class="headLeft"></span>
      			<ol>
	    			<li style="margin-right:5px;margin-top:2px;">
	    				<select id="movelist" style="height: 24px;">
	    				 <option value="" selected><?php echo LANG_MAIL_M0169;?>...</option>
	    				 <option value="inbox"><?php echo LANG_MAIL_M0027;?></option>
	    				 <option value="sent"><?php echo LANG_MAIL_M0028;?></option>
	    				 <option value="trash"><?php echo LANG_MAIL_M0029;?></option>
	    				 <option value="junk"><?php echo LANG_MAIL_M0030;?></option>
	    				 <?php echo $strfolder;?>
	    				</select>
	    			</li>
	    			<li><div class="headJumpBtn" id="pagelist" style="margin-top:2px;"></div></li>
	    		</ol>
			</div>
    </div>
  </div>
  <div id="divMailList" style="height:100%">
    <table class="tbList" border= "0">
      <thead>
        <tr> 
       	  <td width="5%"><input type="checkbox" id="chkall" class="chkSlt" style="display:block;"/></td>
          <td width="7%"><a href="javascript:void(0);" style="text-decoration:none;" id="btn_col_5"><div class="icoMailTitle" style="margin-left:15px;cursor:hand;"></div></a></td>
          <td width="16%"><a href="####" style="text-decoration:none;" id="btn_col_1"><?php echo LANG_MAIL_M0033;?></a></td>
          <td width="50%"><a href="javascript:void(0);" style="text-decoration:none;" id="btn_col_2"><?php echo LANG_MAIL_M0034;?></a></td>
          <td width="17%"><a href="javascript:void(0);" style="text-decoration:none;" id="btn_col_3"><?php echo LANG_MAIL_M0035;?></a></td>
          <td width="5%"><a href="javascript:void(0);" style="text-decoration:none;" id="btn_col_4"><?php echo LANG_MAIL_M0036;?></a></td>
        </tr>
      </thead>
    </table>
    <div class="divMailList2">
      <div>
        <table id="maillist" border= "0" cellpadding="1" bordercolor="#EEEEEE" bgcolor="#EEEEEE" class="tbOneRowMail"></table>
      </div>
    </div>
  </div>
  <!--<div id="divFoot">-->
    <div id="footUpper"> <span class="upperPanel"> <span class="f1"><?php echo LANG_MAIL_M0037;?>：</span> <a href="####" onclick="chkAll();"><span class="f2" id="btn_selall"><?php echo LANG_MAIL_M0038?></span></a>
	<a href="####" onclick="clrAll();"><span class="f2" id="btn_clrall" style="margin-left:10px;"><?php echo LANG_MAIL_M0039;?></span></a></div>
 <!-- </div>-->
</div><br>
<input type="hidden" id="curpage" value="">
<input type="hidden" id="folder" value="_archive_">
<input type="hidden" id="maxpage" value="">
<input type="hidden" id="pagetype" value="list">
<input type="hidden" id="p1" value="<?php echo $p1;?>">
<input type="hidden" id="p2" value="<?php echo $p2;?>">
<input type="hidden" id="listsort" value="">
<input type="hidden" id="listorder" value="">
<div id="listdata" style="display:none;"><?php echo $listdata;?></div>
</body>
</html>
