BODY {
	BACKGROUND-POSITION: center top; SCROLLBAR-FACE-COLOR: #ffffff; BACKGROUND-ATTACHMENT: scroll; PADDING-BOTTOM: 0px; MARGIN: 0px; SCROLLBAR-3DLIGHT-COLOR: #ffffff; PADDING-TOP: 44px; SCROLLBAR-TRACK-COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
TD {
	FONT-SIZE: 12px; COLOR: #bfe7f9; LINE-HEIGHT: 21px; FONT-FAMILY: "VERDANA","ARIAL", "SANS-SERIF","????"
}
SELECT {
	FONT-SIZE: 12px; COLOR: #bfe7f9; LINE-HEIGHT: 21px; FONT-FAMILY: "VERDANA","ARIAL", "SANS-SERIF","????"
}
DIV {
	FONT-SIZE: 12px; COLOR: #bfe7f9; LINE-HEIGHT: 21px; FONT-FAMILY: "VERDANA","ARIAL", "SANS-SERIF","????"
}
TEXTAREA {
	FONT-SIZE: 12px; COLOR: #bfe7f9; LINE-HEIGHT: 21px; FONT-FAMILY: "VERDANA","ARIAL", "SANS-SERIF","????"
}
INPUT {
	FONT-SIZE: 12px; COLOR: #bfe7f9; LINE-HEIGHT: 14px; FONT-FAMILY: "VERDANA","ARIAL", "SANS-SERIF","????"
}
A:link {
	COLOR: #0c358a; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0c358a; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ec9205; TEXT-DECORATION: underline
}
A:active {
	TEXT-DECORATION: none
}
P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; TEXT-INDENT: 2em; PADDING-TOP: 2px
}
.P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
BR {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.br {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.ENGLISH {
	FONT-SIZE: 10px; LINE-HEIGHT: 140%; FONT-FAMILY: "VERDANA","ARIAL","SANS-SERIF"
}
.TEXTAREA {
	BORDER-RIGHT: #e5e5e5 1px solid; BORDER-TOP: #e5e5e5 1px solid; FONT-SIZE: 12px; OVERFLOW: auto; BORDER-LEFT: #e5e5e5 1px solid; BORDER-BOTTOM: #e5e5e5 1px solid; FONT-FAMILY: "VERDANA","ARIAL", "SANS-SERIF","????"; BACKGROUND-COLOR: #ffffff
}
.TABLE {
	BORDER-COLLAPSE: collapse
}
.A2:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.A2:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.A2:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.A2:active {
	TEXT-DECORATION: none
}
.tab1 {
	BORDER-RIGHT: #50adc1 1px solid; BORDER-TOP: #50adc1 1px solid; BORDER-LEFT: #50adc1 1px solid; BORDER-BOTTOM: #50adc1 1px solid; BACKGROUND-COLOR: #1a90a9
}
.LINK4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; CURSOR: hand; COLOR: #ffffff
}
.LINK5 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; CURSOR: hand; COLOR: #f6f163
}