<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>阅读邮件</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../style/mail_list.css" type="text/css"  rel="Stylesheet" />
    <link href="../../skin/default/mailList_skin.css" type="text/css"  rel="Stylesheet" />
    
    <link rel="stylesheet" type="text/css" href="../../js/lightbox/jquery.lightbox.packed.css" />
    <link href="../../style/layout.css" type="text/css"  rel="Stylesheet" />
    <link href="../../skin/default/skin.css" type="text/css"  rel="Stylesheet" />
    <script src="../../js/jquery-1.3.2.min.js"></script>
    <script src="../index/lang"></script>
    <script src="../../js/dialog/zDrag.js"></script>
    <script src="../../js/dialog/zDialog.js"></script>
	<script src="../../js/jquery.hotkeys-0.7.9.min.js"></script>
	<script src="../../js/lightbox/jquery.lightbox.js?show_helper_text=false"></script>
	<script src="../../js/mail/readmail.js"></script>
    <script>
    //document.oncontextmenu=new Function("event.returnValue=false;");
    //document.onselectstart=new Function("event.returnValue=false;");
    $(document).ready( function() {
    	$('body').bind('click',function(){
    		parent.setSelect();
    	});

    	$('#btnDel').bind('click',function(){
    		Dialog.confirm(lang.mail.M0090,function(){
    			$.ajax({
    				type: "post",
    				url : "delmails",
    				dataType:'html',
    				data:"f="+parent.$('#folder').val()+"&param="+$('#mid').val()+",&time="+new Date().getTime(),
    				success: function(data,textStatus){
    					if(data){
    						window.parent.top.showtip(lang.mail.M0007);
    						parent.$('#readmail').attr('src','blank');
    						parent.list(parent.$('#curpage').val());
    					}else{
    						Dlalog.alert(lang.common.COM008);
    					}
    				}
    			});
    		});
    	});

    	$('#btnPrint').bind('click',function(){
    		var url = "print?mid=<?php echo base64_encode($mid);?>&f=<?php echo $folder;?>&p=<?php echo $offset;?>&showimg="+$('#showimg').val();
    		window.open(url);
    	})

    	//show_time();
    });

    function showimg(){
    	$.ajax({
    		type: "post",
    		url : "setshowimg",
    		dataType:'html',
    		data:"f="+parent.$('#folder').val()+"&mid="+$('#mid').val()+"&val=1&time="+new Date().getTime(),
    		success: function(data,textStatus){
    			if(data){
    				$('#showimg').val(1);
    				$('#showimgtip').empty();
    				showcontent();
    			}else{
    				Dlalog.alert(lang.common.COM008);
    			}
    		}
    	});
    }

    function showcontent(){
    	var url = "readmail?mid=<?php echo base64_encode($mid);?>&f=<?php echo $folder;?>&p=<?php echo $offset;?>&showimg=" + $('#showimg').val();
    	window.location.href = url;
    }

    function charsetTip(){
    	$('#charset_tip').html('<font color="red">'+lang.mail.M0091+'</font>');
    	parent.setSelect();
    }

    function setMail(mark){
    	var oper = mark.split(".");
    	$.ajax({
    		type: "post",
    		url : "setmail",
    		dataType:'html',
    		data:"f="+parent.$('#folder').val()+"&mid="+$('#mid').val()+",&oper="+oper[0]+"&val="+oper[1]+"&time="+new Date().getTime(),
    		success: function(data,textStatus){
    			if(data){
    				if(oper[1]==1){
    					$('#flag').html('<span class="icoJob" onclick="setMail(\'flag.0\')" title="'+lang.mail.M0092+'" style="cursor:hand;"></span>');
    					parent.$('#flag_'+$('#pid').val()).html('<span class="icoJob"></span>');
    				}else{
    					$('#flag').html('<span class="icoJobClear" onclick="setMail(\'flag.1\')" title="'+lang.mail.M0093+'" style="cursor:hand;"></span>');
    					parent.$('#flag_'+$('#pid').val()).empty();
    				}
    			}else{
    				Dialog.alert(lang.mail.M0004);
    			}
    		}
    	});
    }

    function openeml(param){
    	window.open("reademl?param="+param);
    }

    function openedit(url){
    	window.open(url);
    }

    function cancelTimeSend(){
    	$.ajax({
    		type: "post",
    		url : "canceltimesend",
    		dataType:'html',
    		data:"f=draft&mid="+$('#mid').val()+"&tid="+$('#tid').val()+"&time="+new Date().getTime(),
    		success: function(data,textStatus){
    			if(data){
    				parent.list(parent.$('#curpage').val(),'RCV','DSC');
    				location.reload();
    			}else{
    				Dialog.alert(lang.mail.M0004);
    			}
    		}
    	});
    }

    function show_time(){
    	if($('#sendtime').val()!=''){
    		BirthDay=new Date($('#sendtime').val());
    		today=new Date();
    		if(BirthDay.getTime()-today.getTime()<=0){
    			$('#timemark').html(lang.mail.M0095+"...");
    		}else{
    			window.setTimeout("show_time()", 1000);
    			timeold=(BirthDay.getTime()-today.getTime());
    			sectimeold=timeold/1000
    			secondsold=Math.floor(sectimeold);
    			msPerDay=24*60*60*1000
    			e_daysold=timeold/msPerDay
    			daysold=Math.floor(e_daysold);
    			e_hrsold=(e_daysold-daysold)*24;
    			hrsold=Math.floor(e_hrsold);
    			e_minsold=(e_hrsold-hrsold)*60;
    			minsold=Math.floor((e_hrsold-hrsold)*60);
    			seconds=Math.floor((e_minsold-minsold)*60);
    			var str_sendtime_mark = lang.mail.M0096;
    			if(daysold<1){
    				str_sendtime_mark = str_sendtime_mark + hrsold+lang.common.COM031+minsold+lang.common.COM032+seconds+lang.common.COM033;
    			}else if(hrsold<1){
    				str_sendtime_mark = str_sendtime_mark + minsold+lang.common.COM032+seconds+lang.common.COM033;
    			}else if(minsold<1){
    				str_sendtime_mark = str_sendtime_mark + seconds+lang.common.COM033;
    			}else{
    				str_sendtime_mark = str_sendtime_mark + daysold+lang.common.COM030+hrsold+lang.common.COM031+minsold+lang.common.COM032+seconds+lang.common.COM033;
    			}
    			str_sendtime_mark = str_sendtime_mark + lang.mail.M0097;
    			$('#timemark').html(str_sendtime_mark)
    		}
    	}
    }

    function sendFrame(url){
    	var to = "<?php echo addslashes($maildata['to']);?>";
    	if(to==""){
    		Dialog.alert(lang.mail.M0118);
    	}else{
    		window.open(url);
    	}
    }
    </script>
    <style>
    html{ overflow-x: hidden; overflow-y: auto; }
    #div_L_Receivor span{font-size:11px;}
    .mailFileOl{font-size:11px;}
    .divBottom1{font-size:11px;}
    </style>
</head>
<input type="hidden" id="mid" value="<?php echo base64_encode($mid);?>">
<input type="hidden" id="curplayer" value="">
<input type="hidden" id="showimg" value="<?php echo $isshowimg;?>">
<input type="hidden" id="pid" value="<?php echo $pid;?>">
<input type="hidden" id="type" value="<?php echo $type;?>">
<input type="hidden" id="sendtime" value="<?php echo $sendtime_date;?>">
<input type="hidden" id="tid" value="<?php echo $tid;?>">
<body>
    <div id="divPanel">
        <div id="divTop" style="margin:0 0 0 0;">
          <div id="divDown">
                <div id="divLeftWords">
                	<div id="div_L_Subject">
					<ol>
					<li><?php echo LANG_MAIL_M0034;?>：<?php echo $maildata['subject'];?></li>
					<li id="flag"><?php echo $flag;?></li>
					<li><a href="javascript:openedit('write?mid=<?php echo base64_encode($mid);?>&f=<?php echo $folder;?>&p=<?php echo $offset;?>');" title="<?php echo LANG_MAIL_M0056;?>"><img src="../../skin/default/image/new_readmail.gif" width="11" height="11"></a><?php echo $showimg;?></li>
					</ol>
					<div class="newclear"></div>
					</div>
                    <div id="div_L_Sendor">
                        <span class="sendor"><?php echo LANG_MAIL_M0033;?>：</span>
                        <span><?php echo $maildata['from'];?></span>
                    </div>
                    <div id="div_L_Sendor">
                        <span class="sendor"><?php echo LANG_MAIL_M0087;?>：</span>
                        <span><?php echo $maildata['date'];?></span>
                    </div>
                    <div id="div_L_Sendor">
                        <span class="sendor"><?php echo LANG_MAIL_M0050;?>：</span>
                        <span><?php echo $maildata['to'];?></span>
                    </div>
                    <?php echo $mail_cc;?>
                    <?php echo $attach_tip;?>
                    <div id="div_L_Receivor">
                    	<span><a href="javascript:sendFrame('sendiframe?mid=<?php echo base64_encode($mid);?>&f=<?php echo $folder;?>&p=<?php echo $offset;?>');" class="bluelink"><?php echo LANG_MAIL_M0054;?></a></span><span style="padding:0px 5px 0px 5px;">|</span>
                    	<span><a href="javascript:openedit('write?mid=<?php echo base64_encode($mid);?>&f=<?php echo $folder;?>&p=<?php echo $offset;?>');" class="bluelink"><?php echo LANG_MAIL_M0055;?></a></span><span style="padding:0px 5px 0px 5px;">|</span>
                        <span><a href="maildownload?param=<?php echo base64_encode($mid);?>|<?php echo $folder;?>" class="bluelink"><?php echo LANG_MAIL_M0052;?></a></span><span style="padding:0px 5px 0px 5px;">|</span>
                        <span><a href="javascript:void(0);" class="bluelink" id="btnDel"><?php echo LANG_MAIL_M0014;?></a></span><span style="padding:0px 5px 0px 5px;">|</span>
                        <span><a href="###" class="bluelink" id="btnPrint"><?php echo LANG_MAIL_M0048;?></a></span><span style="padding:0px 5px 0px 5px;"></span>
                        <?php echo $str_timesend;?>
                    </div>
                </div>
          </div>
        </div>
        <div style="background-color:#FFFFFF;min-height:150px;">
        <div id="mailcontent" style="width:98%;margin:5px 5px 5px 5px;word-break:break-all;word-wrap:break-word;overflow:hidden;"><?php echo $content;?></div>
        </div>
        
        <div id="divBottom1" class="divBottom1" style="display:<?php echo $showattach;?>;">
          <div id="divAvertise">
            <span><div class="icoFile">&nbsp;</div>　<?php echo LANG_MAIL_M0053;?>(<?php echo $attach_count;?><?php echo LANG_COMMON_COM034;?>)</span></div>
        </div>
      <div id="divBottom2" class="divBottom2" style="display:<?php echo $showattach;?>;">
   <ol class="mailFileOl"><?php echo $attachlist;?></ol>
  </div><br>
</div>
</body>
</html>
