<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>邮箱列表</title>
    <link href="../../style/mail_list.css" type="text/css"  rel="Stylesheet" />
    <link href="../../skin/default/mailList_skin.css"type="text/css"  rel="Stylesheet" />
    
    <link href="../../style/layout.css" type="text/css"  rel="Stylesheet" />
    <link href="../../skin/default/skin.css" type="text/css"  rel="Stylesheet" />
    <link href="../../style/share_list.css" type="text/css"  rel="Stylesheet" />
    
    
    <script src="../../js/jquery-1.3.2.min.js"></script>
    <script src="../index/lang"></script>
    <script src="../../js/dialog/zDrag.js"></script>
    <script src="../../js/dialog/zDialog.js"></script>
    <script src="../../js/jquery.hotkeys-0.7.9.min.js"></script>
    <script src="../../js/disk/base.js"></script>
    <script src="../../js/mail/mailbox.js"></script>
    <script>
    document.oncontextmenu=new Function("event.returnValue=false;");
	document.onselectstart=new Function("event.returnValue=false;");
    $(document).ready( function() {
    	list(<?php echo $page;?>);
    });
    
    function setSelect(){}
    </script>
</head>
<body>
    <div id="divPanel">
  <!--邮件信息-->
  <div class="divMailInfoFrame">

  <div id="divMailInfo"><a href="####" id="pagemark"></a><span class="mailbox"><?php echo LANG_MAIL_M0028;?></span> <span class="mailbrief"> (
    <?php echo LANG_COMMON_COM013;?><span class="mailsCnt"></span><?php echo LANG_MAIL_M0011;?>，
    <span class="unRead" style="margin:0px 1px 0px 0px;"><?php echo LANG_MAIL_M0012;?></span> <span class="mailsunreadCnt"></span><span class="unRead"><?php echo LANG_MAIL_M0013;?></span> )</div>
    <div class="mailList_toptit_r">
                    <ol>
                      <li><a href="####" onclick="closeList('sent');"><img src="../../skin/default/image/list_ico5.gif" width="19" height="19" border="0" title="<?php echo LANG_COMMON_COM002;?>"/></a></li>
                      <li><a href="####"><img src="../../skin/default/image/list_ico2.gif" width="19" height="19" border="0" title="<?php echo LANG_COMMON_COM001;?>"/></a></li>
                    </ol>
                  </div>
    </div>
  <div id="divHead">
            <div id="HeadUpper">
            <div class="headCenter"> <span class="headLeft"></span>
      			<ol>
	    			<li style="margin-right:3px;"><input type="button" id="btnMov" title="<?php echo LANG_MAIL_M0015;?>" value="<?php echo LANG_MAIL_M0014;?>"></li>
	    			<li style="margin-right:3px;"><input type="button" id="btnDel" title="<?php echo LANG_MAIL_M0017;?>" value="<?php echo LANG_MAIL_M0016;?>"></li>
	    			<li style="margin-right:3px;"><input type="button" value="<?php echo LANG_MAIL_M0042;?>" onclick="attachtransmit();"></li>
	    			<?php if($this->diskauth)echo '<li style="margin-right:3px;"><input type="button" id="btnMovtodisk" value="'.LANG_MAIL_M0032.'"></li>';?>
	    			<li style="margin-right:5px;margin-top:2px;">
	    				<select id="marklist" style="height: 24px;">
	    				 <option value="" selected><?php echo LANG_MAIL_M0026;?>...</option>
	    				 <option value="read.1"><?php echo LANG_MAIL_M0022;?></option>
	    				 <option value="read.0"><?php echo LANG_MAIL_M0023;?></option>
	    				 <option value="flag.1"><?php echo LANG_MAIL_M0024;?></option>
	    				 <option value="flag.0"><?php echo LANG_MAIL_M0025;?></option>
	    				</select>
	    			</li>
	    			<li id="foldertree" style="margin-right:5px;margin-top:2px;"></li>
	    			<li><div class="headJumpBtn" id="pagelist" style="margin-top:2px;"></div></li>
	    		</ol>
			</div>
    </div>
  </div>
  <div id="divMailList" style="height:100%">
    <table class="tbList" border= "0">
      <thead>
        <tr>
          <td width="5%"><input type="checkbox" id="chkall" class="chkSlt" style="display:block;"/></td> 
          <td width="7%"><a href="javascript:void(0);" style="text-decoration:none;" id="btn_col_5" title="<?php echo LANG_MAIL_M0018;?>"><div class="icoMailTitle" style="margin-left:15px;cursor:hand;"><span id="col_5_Up" style="display:none;font-weight:400;margin-left:17px;">↑</span><span id="col_5_Down" style="display:none;font-weight:400;margin-left:17px;">↓</span></div></a></td>
          <td width="16%"><a href="####" style="text-decoration:none;" id="btn_col_1" title="<?php echo LANG_MAIL_M0018;?>"><?php echo LANG_MAIL_M0050;?><span id="col_1_Up" style="display:none;font-weight:400;">↑</span><span id="col_1_Down" style="display:none;font-weight:400;">↓</span></a></td>
          <td width="50%"><a href="javascript:void(0);" style="text-decoration:none;" id="btn_col_2" title="<?php echo LANG_MAIL_M0018;?>"><?php echo LANG_MAIL_M0034;?><span id="col_2_Up" style="display:none;font-weight:400;">↑</span><span id="col_2_Down" style="display:none;font-weight:400;">↓</span></a></td>
          <td width="17%"><a href="javascript:void(0);" style="text-decoration:none;" id="btn_col_3" title="<?php echo LANG_MAIL_M0018;?>"><?php echo LANG_MAIL_M0045;?><span id="col_3_Up" style="display:none;font-weight:400;">↑</span><span id="col_3_Down" style="display:none;font-weight:400;">↓</span></a></td>
          <td width="5%"><a href="javascript:void(0);" style="text-decoration:none;" id="btn_col_4" title="<?php echo LANG_MAIL_M0018;?>"><?php echo LANG_MAIL_M0036;?><span id="col_4_Up" style="display:none;font-weight:400;">↑</span><span id="col_4_Down" style="display:none;font-weight:400;">↓</span></a></td>
        </tr>
      </thead>
    </table>
    <div class="divMailList2">
      <div>
        <table id="maillist" border= "0" cellpadding="1" bordercolor="#EEEEEE" bgcolor="#EEEEEE" class="tbOneRowMail"></table>
      </div>
    </div>
  </div>
  <!--<div id="divFoot">-->
    <div id="footUpper"> <span class="upperPanel"> <span class="f1"><?php echo LANG_MAIL_M0037;?>：</span> <a href="####" onclick="chkAll();"><span class="f2" id="btn_selall"><?php echo LANG_MAIL_M0038?></span></a><!--<a href="####" onclick="antiSel();"><span class="f2" id="btn_antisel" style="margin-left:10px;">反选</span></a>--><a href="####" onclick="clrAll();"><span class="f2" id="btn_clrall" style="margin-left:10px;"><?php echo LANG_MAIL_M0039;?></span></a><a href="####" onclick="moveMail('trash');"><span class="f2" style="margin-left:10px;"><?php echo LANG_MAIL_M0014;?></span></a>
                    <a href="####" onclick="delMails();"><span class="f2" style="margin-left:10px;"><?php echo LANG_MAIL_M0016;?></span></a></div>
 <!-- </div>-->
</div><br>
<input type="hidden" id="curpage" value="">
<input type="hidden" id="folder" value="sent">
<input type="hidden" id="maxpage" value="">
<input type="hidden" id="pagetype" value="list">
<input type="hidden" id="p1" value="<?php echo $p1;?>">
<input type="hidden" id="p2" value="<?php echo $p2;?>">
<input type="hidden" id="listsort" value="">
<input type="hidden" id="listorder" value="">
<div id="listdata" style="display:none;"><?php echo $listdata;?></div>
<div id="folderdata" style="display:none;"><?php echo $strfolder;?></div>
</body>
</html>
