<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>主页</title>
<link href="../../style/layout.css" type="text/css" rel="stylesheet" />
<link href="../../skin/default/skin.css" type="text/css" rel="stylesheet" />
<link href="../../style/share_list.css" type="text/css" rel="stylesheet" />

<script src="../../js/jquery-1.3.2.min.js"></script>
<script src="../index/lang"></script>
<script src="../../js/jstree/jquery.tree.js"></script>

<script>
$(document).ready( function() {
	$(function () {
		$("#filetree").tree({
			types : {
				draggable	: true
			},
			data : {
				draggable	: false,
				type : "json",
				opts : {
					url : "filetree"+"?time="+new Date().getTime()
				}
			},
			callback : {
				onchange : function(NODE,TREE_OBJ){
					var folder = $(NODE).attr("path");
					if($(NODE).attr("folder")!='')folder = $(NODE).attr("folder") + folder;
					$('#tarfolder').val(folder);
				}
			}
		});
	});
});
</script>
</head>

<body>
<input type="hidden" id="tarfolder" value="">
<div class="share-upload">
	<div class="share-upload-content">
		<div class="share-upload-list" id="filetree" style="overFlow-y: scroll;height:150px;"></div>
		<br class="clear" />
		<div class="ln-thin ln-c-mid"><b class="ext1"></b></div>
		<div class="clear"></div>
	</div>
	<!--<div class="share-upload-bg share-upload-bottom"></div>-->
</div>
</body>
</html>
