 <div class="shareList-r">
	<div class="shareList-info" >
	  <div class="shareList-info-toptit shareList-info-top">
	   <span><?php echo LANG_DISK_D0009;?></span>	   
	  </div>
	  <div class="shareList-info-content">
		<div class="shareList-info-space"> 
			<h3><span style="text-decoration:none;"><?php echo LANG_DISK_D0010;?></span></h3>
			<div class="shareList-info-space-graph">
				<div class="space-graph space-graph-shareList">
					<div class="space-graph g-probar" id="sizeplan1">
						<span class="space-graph total" id="sizeplan2"></span>
					</div>
				</div>
			</div>
			<div class="shareList-info-space-con">
				<span class="shareList-info-space-used"><?php echo LANG_DISK_D0011;?>：<span id="info_size"></span> (<span id="info_sizerate"></span> %)</span></span><br />
				<span class="shareList-info-space-remain"><?php echo LANG_DISK_D0013;?>：<span id="info_maxsize"><?php echo $maxsize;?></span> MB</span></span>
			</div>
		</div>
		<div class="shareList-info-bg shareList-info-list">
		  <ul>
			<li><b class="ico ico-webdiscs-mine"></b><a href="list" class="on" style="text-decoration:none;"><span><?php echo LANG_DISK_D0008;?></span></a><div class="ln-thin ln-c-mid"><b class="ext1"></b></div></li>
			<li><b class="ico ico-webdiscs-teamshare"></b><a href="group" class="on" style="text-decoration:none;"><span><?php echo LANG_DISK_D0014;?></span></a><div class="ln-thin ln-c-mid"><b class="ext1"></b></div></li>
			<li><b class="ico ico-webdiscs-area"></b><a href="domain" class="on" style="text-decoration:none;"><span><?php echo LANG_DISK_D0015;?></span></a></li>
		  </ul>
		</div>
	  </div>
	</div>
 </div>